<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>429595889852-14fqpnao1hesurc7cug8q4kc89rm3t8s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.429595889852-14fqpnao1hesurc7cug8q4kc89rm3t8s</string>
	<key>API_KEY</key>
	<string>AIzaSyAslEZVhqIaPkjDrWdzGbJ0cShfWMixmds</string>
	<key>GCM_SENDER_ID</key>
	<string>429595889852</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gform</string>
	<key>PROJECT_ID</key>
	<string>glug-gforms-clone</string>
	<key>STORAGE_BUCKET</key>
	<string>glug-gforms-clone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:429595889852:ios:15bd88e077f8240232c0b9</string>
</dict>
</plist>